{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4">About Me</h1>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">                    <h5 class="card-title">Professional Background</h5>
                    <p class="card-text">
                        I am a passionate developer with experience in web development and software engineering, specializing in building
                        practical business solutions. My journey in technology started with Refactory Academy in 2025, where I developed
                        my first significant project - an inventory management system that helps businesses track their products efficiently.
                    </p>
                    <h5 class="card-title mt-4">Skills</h5>
                    <div class="row">
                        <div class="col-md-4">
                            <h6>Programming Languages</h6>
                            <ul>
                                <li>Python</li>
                                <li>JavaScript</li>
                                <li>HTML/CSS</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h6>Frameworks</h6>
                            <ul>
                                <li>Flask</li>
                                <li>Django</li>
                                <li>React</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h6>Tools</h6>
                            <ul>
                                <li>Git</li>
                                <li>Docker</li>
                                <li>VS Code</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Education</h5>
                    <p class="card-text">
                        high school at Mengo

                    </p>
                    <h5 class="card-title mt-4">Certifications</h5>
                    <ul>
                        <li>Certificate in Python</li>
                        <li>Certificate in Data Annalysit</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
