{% extends "base.html" %}
{% block title %}My CV{% endblock %}
{% block content %}
<section class="section-bg p-5 my-5">
  <h2 class="text-center gradient-text mb-4 display-5">My CV</h2>
  <div class="text-center mb-4">
    <a href="{% static 'Natasha_Justine_CV.pdf' %}" class="btn btn-accent" target="_blank">Download CV</a>
  </div>
  <div class="d-flex justify-content-center">
    <embed src="{% static 'Natasha_Justine_CV.pdf' %}" type="application/pdf" width="80%" height="800px" />
  </div>
</section>
{% endblock %}
